<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Final Project">
    <listeners>
            <listener class-name="org.pm.utils.TestListener"/>
            <listener class-name="org.pm.utils.AnnotationTransformer"/>
    </listeners>
    <test name="UI Tests">
        <classes>
            <class name="org.pm.ui.BetslipTest"/>
        </classes>
    </test>
    <test name="API Tests">
        <classes>
            <class name="org.pm.api.UpdatePasswordTest"/>
            <class name="org.pm.api.RegistrationTest"/>
            <class name="org.pm.api.LoginTest"/>
        </classes>
    </test>
</suite>